<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="TemplateMo">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        <title>Accueil | Pigierci</title>
    
        <!-- Bootstrap core CSS -->
        <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="../assets/css/fontawesome.css">
        <link rel="stylesheet" href="../assets/css/templatemo-edu-meeting.css">
        <link rel="stylesheet" href="../assets/css/footer.css">
    <!--
    
    TemplateMo 569 Edu Meeting
    
    https://templatemo.com/tm-569-edu-meeting
    
    -->
    
      </head>
    
<body>
    <!-- Footer -->
<section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>ECOLES</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Abidjan - Plateau</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Abidjan - Yopougon</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Yamoussoukro</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>NOS FORMATIONS</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Administration d'Entreprise</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Communication et Marketing</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Comptabilite Financière</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Assistanat de Direction, Tourisme et Hotellerie</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Réseaux et Génie Logiciel</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>PAR NIVEAU</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>BTS</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>LICENCE</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>MASTER 1</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>MASTER 2</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
        </hr>
      </div>	
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="text-white">&copy; Copyright PIGIER 2024. Tous droits réservés.</p>
        </div>
        
      </div>	
    </div>
</section>
  
</body>


</html>