
/* breadcrumb */

.section-breadcrumb{
    background-color: #f2f3f5fd;
    padding: 0;
    margin: 0;
    min-height: 80px;
    justify-content: center;
}
.section-breadcrumb nav{
}   
.section-breadcrumb ol li a{
    font-size: 20px;
    text-align: left;
    padding: 5px;
    margin: 5px;
    font-weight: 600;

}
.section-breadcrumb ol li.active a{
   color: rgb(151, 149, 149);
}
.nav-items li{
    margin-top: 25px;
    
}
/* historique */
.historique-pigier{
    margin-top: 40px;
}
.historique h2{
    color: #0454e7;
    font-size: 36px;
    border-bottom: 0px;
    margin-top: 10px;

}
.historique,.diplomes h3{
    color: #0454e7;
    font-size: 30px;
    border-bottom: 0px solid;
}
.historique-pigier,.diplomes-pigier ul {
    list-style-type: none;
  }

.historique-pigier, .diplomes-pigier li::before {
  content: '\2192'; 
  margin-right: 5px;
  color: blue;
}
.historique-pigier,.diplomes-pigier li {
    font-size: 16px;
    color: rgb(151, 149, 149);
}
.body-historique{
    margin-top: -30px;
    margin-bottom: 30px;
}
.historique-pigier{
    margin-top: 40px;
    margin-bottom: 60px;
}



/* Diplome certifié */
.diplome{
  background-image: url(../images/diplomes-africains.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 110px;
  text-align: center;
  height: 600px;
}
  
  section.heading-page h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    background-color: #0804e779;
  }
  
  section.diplome h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    background-color: #0804e779;

  }
.img-diplome img{
    width: 400px;
    height: 350px;
    display: inline-block;
}
.body-diplomes p{
    color: gray;
    font-size: 16px;
}
.body-diplomes{
    margin-top: -30px;
    margin-bottom: 30px;
}
.diplomes-pigier{
    margin-top: 40px;
    margin-bottom: 60px;
}
.diplomes-pigier li a{
    color: #348ff8;
    font-weight: bold;
}
.diplomes h2{
    color: #0454e7;
    font-size: 36px;
    border-bottom: 0px;
    margin-top: 10px;

}


/* Pedagogie innovante */
.pedagogies h2{
    color: #0454e7;
    font-size: 36px;
    border-bottom: 0px;
    margin-top: 10px;

}
.pedagogie{
  background-image: url(../images/Citations-leadership.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 110px;
  text-align: center;
  height: 600px;
}
  
  
  section.pedagogie h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    background-color: #0804e779;

  }
.img-pedagogie img{
}
.body-pedagogie p{
    color: gray;
    font-size: 16px;
}
.body-pedagogie{
    margin-top: -30px;
    margin-bottom: 30px;
}
.pedagogie-pigier{
    margin-top: 40px;
    margin-bottom: 60px;
}
.pedagogie-pigier li a{
    color: #348ff8;
    font-weight: bold;
}

/* temoignages */
.temoignages h2, h3{
    color: #0454e7;
    font-size: 36px;
    border-bottom: 0px;
    margin-top: 10px;

}


section.temoignage h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    background-color: #0804e779;

}

.body-temoignage p {
    color: gray;
    font-size: 16px;
}

.body-temoignage {
    margin-top: -30px;
    margin-bottom: 30px;
}

.temoignage-pigier {
    margin-top: 40px;
    margin-bottom: 60px;
}

.temoignage-pigier li a {
    color: #348ff8;
    font-weight: bold;
}
.temoignage-breadcrumb{
}
.vide{
    height: 100px;
}

.amazing-deals {
    margin-top: 120px;
  }
  
  .amazing-deals .item .image {
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    overflow: hidden;
  }
  .amazing-deals img{
    height: 400px;
  }
  
  .amazing-deals .item {
    background-color: #f7f7f7;
    border-radius: 23px;
    padding-right: 30px;
    margin-bottom: 30px;
  }
  
  .amazing-deals .item span.info {
    color: #22b3c1;
    font-size: 15px;
    margin-bottom: 20px;
    display: block;
  }
  
  .amazing-deals .item h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .amazing-deals .item i {
    color: #777;
    margin-right: 5px;
  }
  
  .amazing-deals .item span.list {
    font-size: 15px;
    color: #afafaf;
    font-weight: 500;
  }
  
  .amazing-deals .item .content {
    padding: 30px 0px;
  }
  
  .amazing-deals .item p {
    padding-top: 25px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
  }
  
  .amazing-deals ul.page-numbers {
    text-align: center;
    margin-top: 30px;
  }
  
  .amazing-deals ul.page-numbers li {
    display: inline-block;
    margin: 0px 5px;
  }
  
  .amazing-deals ul.page-numbers li a {
    display: inline-block;
    width: 46px;
    height: 46px;
    border: 1px solid #22b3c1;
    line-height: 44px;
    color: #22b3c1;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50%;
    transition: all .3s;
  }
  
  .amazing-deals ul.page-numbers li.active a,
  .amazing-deals ul.page-numbers li a:hover {
    background-color: #22b3c1;
    color: #fff;
  }
  
  .amazing-deals ul.page-numbers li:first-child a,
  .amazing-deals ul.page-numbers li:last-child a {
    border: none;
  }
  .amazing-deals .item .image {
    border-top-right-radius: 23px;
    border-bottom-left-radius: 0px;
  }
  .amazing-deals .item {
    padding-right: 0px;
  }
  .amazing-deals .item .content {
    padding: 30px !important;
  }

  /* schema des etudes */
  .schemas h2{
    color: #0454e7;
    font-size: 36px;
    border-bottom: 0px;
    margin-top: 10px;

}
.schema{
  background-image: url(../images/etudiants-universitaires-differentes-ethnies-bachotant_23-2149891357.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 110px;
  text-align: center;
  height: 600px;
}
  
  
  section.schema h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    background-color: #0804e779;

  }
.body-schema p{
    color: gray;
    font-size: 16px;
}
.body-schema{
    margin-top: -30px;
    margin-bottom: 30px;
}
.schema-pigier{
    margin-top: 40px;
    margin-bottom: 60px;
}
.schema-pigier li a{
    color: #348ff8;
    font-weight: bold;
}

  /* Guide accueil */
  .guides h2{
    color: #0454e7;
    font-size: 36px;
    border-bottom: 0px;
    margin-top: 10px;

}
.guide{
  background-image: url(../images/guide_accueil.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 110px;
  text-align: center;
  height: 600px;
}
  
  
  section.guide h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    background-color: #0804e779;

  }
.body-guide p{
    color: gray;
    font-size: 16px;
}
.body-guide{
    margin-top: -30px;
    margin-bottom: 30px;
}
.guide-pigier{
    margin-top: 40px;
    margin-bottom: 60px;
}
.guide-pigier li a{
    color: #348ff8;
    font-weight: bold;
}
.body-guide .icon_redirect{
  width: 30px;
}

  /* Licence */
  .licences h2{
    color: #0454e7;
    font-size: 36px;
    border-bottom: 0px;
    margin-top: 10px;

}
.licence{
  background-image: url(../images/guide_accueil.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 110px;
  text-align: center;
  height: 600px;
}
  
  
  section.licence h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    background-color: #0804e779;

  }
.body-licence p{
    color: gray;
    font-size: 16px;
}
.body-licence{
    margin-top: -30px;
    margin-bottom: 30px;
}
.licence-pigier{
    margin-top: 40px;
    margin-bottom: 60px;
}
.licence-pigier li a{
    color: #348ff8;
    font-weight: bold;
}
.body-licence .icon_redirect{
  width: 30px;
}

/* toute les formations */
   .breadcrumb-formation{
    margin-top: 100px;
   }
    .formations h2 {
      color: #0454e7;
      font-size: 36px;
      border-bottom: 0px;
      margin-top: 10px;
  
    }
  
    .formation {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 230px;
      padding-bottom: 110px;
      text-align: center;
      height: 600px;
    }
  
  
    section.formation h2 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 60px;
      text-transform: capitalize;
      font-weight: 800;
      color: #fff;
      letter-spacing: 1px;
      background-color: #0804e779;
  
    }
  
    .body-formation p {
      color: gray;
      font-size: 16px;
    }
  
    .body-formation {
      margin-top: -30px;
      margin-bottom: 30px;
    }
  
    .formation-pigier {
      margin-top: 40px;
      margin-bottom: 60px;
    }
  
    .formation-pigier li a {
      color: #348ff8;
      font-weight: bold;
    }
  
    .body-formation .icon_redirect {
      width: 30px;
    }

.select_formation{
  display: inline-block;
}
.formation-item {
  /*display: none;/* Masquer toutes les formations par défaut */
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  height: 150px;
  width: 200px;
}
.formation-item .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/guide_accueil.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  /* Ajustez l'opacité de l'image de fond selon vos préférences */
}
.formation-item .content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: #fff;
  background-color: #0453e74e;
  width: 100%;
  height: 100%;
}
.formation-item .content a{
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-left: 50px
}
